/* The switch - the box around the slider */
/* line 2, ../sass/switch.scss */
.switch {
  grid-area: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Hide default HTML checkbox */
/* line 11, ../sass/switch.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/* line 18, ../sass/switch.scss */
.slider {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  position: absolute;
  cursor: pointer;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 8%;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 32, ../sass/switch.scss */
.slider:before {
  position: absolute;
  content: "";
  border-radius: 30px;
  height: 70%;
  width: 25%;
  left: 15%;
  bottom: 15%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 45, ../sass/switch.scss */
input:checked + .slider {
  background-color: #2196F3;
}

/* line 49, ../sass/switch.scss */
input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

/* line 53, ../sass/switch.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

@media screen and (max-width: 320px) {
  /* line 35, ../sass/mobileS.scss */
  * {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Montserrat;
  }

  /* line 41, ../sass/mobileS.scss */
  body {
    background-color: #f6f6fe;
    background-image: url(../../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-size: 75%;
    display: grid;
    grid-template-areas: "head" "main" "bottom";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 10fr 0.2fr;
  }

  /* line 55, ../sass/mobileS.scss */
  .main_block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: ". basic ." ". pro ." ". master .";
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 4fr 4fr 4fr;
    grid-row-gap: 2%;
    grid-area: main;
  }

  /* line 68, ../sass/mobileS.scss */
  .head_block {
    display: grid;
    grid-template-areas: "title title title" "annual switch month";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-area: head;
  }
  /* line 76, ../sass/mobileS.scss */
  .head_block .title {
    font-size: 1.4em;
    padding: 5% 0 0 33%;
    grid-area: title;
  }
  /* line 81, ../sass/mobileS.scss */
  .head_block .switch_block {
    display: grid;
    grid-template-areas: ". . ." ". center ." ". . .";
    grid-template-columns: 0.2fr 0.5fr 0.2fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    grid-area: switch;
  }
  /* line 91, ../sass/mobileS.scss */
  .head_block .annual_option {
    font-size: 1em;
    padding: 20% 0 0 40%;
    grid-area: annual;
  }
  /* line 96, ../sass/mobileS.scss */
  .head_block .month_option {
    font-size: 1em;
    padding: 20% 20% 0 0;
    grid-area: month;
  }

  /* line 102, ../sass/mobileS.scss */
  .basic_option_block {
    background-color: white;
    width: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: basic;
  }

  /* line 106, ../sass/mobileS.scss */
  .basic_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 112, ../sass/mobileS.scss */
  .basic_monthly_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 119, ../sass/mobileS.scss */
  .basic_annually_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 125, ../sass/mobileS.scss */
  .basic_storage {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 131, ../sass/mobileS.scss */
  .basic_userAllowance {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 137, ../sass/mobileS.scss */
  .basic_send {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 143, ../sass/mobileS.scss */
  .basic_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 10% 0 0 5%;
    grid-area: btn;
  }

  /* line 147, ../sass/mobileS.scss */
  .professional_option_block {
    background-color: white;
    width: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: pro;
  }

  /* line 151, ../sass/mobileS.scss */
  .pro_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 157, ../sass/mobileS.scss */
  .pro_monthly_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 164, ../sass/mobileS.scss */
  .pro_annually_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 170, ../sass/mobileS.scss */
  .pro_storage {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 176, ../sass/mobileS.scss */
  .pro_userAllowance {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 182, ../sass/mobileS.scss */
  .pro_send {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 188, ../sass/mobileS.scss */
  .pro_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 10% 0 0 5%;
    grid-area: btn;
  }

  /* line 192, ../sass/mobileS.scss */
  .master_option_block {
    background-color: white;
    width: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: master;
  }

  /* line 196, ../sass/mobileS.scss */
  .master_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 202, ../sass/mobileS.scss */
  .master_monthly_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 209, ../sass/mobileS.scss */
  .master_annually_value {
    text-align: center;
    padding-top: 3%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 215, ../sass/mobileS.scss */
  .master_storage {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 221, ../sass/mobileS.scss */
  .master_userAllowance {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 227, ../sass/mobileS.scss */
  .master_send {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 233, ../sass/mobileS.scss */
  .master_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 10% 0 0 5%;
    grid-area: btn;
  }

  /* line 238, ../sass/mobileS.scss */
  .attribution {
    grid-area: bottom;
  }

  /* line 241, ../sass/mobileS.scss */
  .value {
    margin: 30px 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    margin-top: 70%;
    grid-area: value;
  }

  /* line 246, ../sass/mobileS.scss */
  .storage {
    margin: 30px 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: storage;
  }

  /* line 250, ../sass/mobileS.scss */
  .allowance {
    margin: 30px 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: allowed;
  }

  /* line 254, ../sass/mobileS.scss */
  .send {
    margin: 30px 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: send;
  }
}
@media screen and (min-width: 321px) and (max-width: 499px) {
  /* line 35, ../sass/mobileML.scss */
  * {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Montserrat;
  }

  /* line 41, ../sass/mobileML.scss */
  body {
    background-color: #f6f6fe;
    background-image: url(../../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-size: 75%;
    display: grid;
    grid-template-areas: "head" "main" "bottom";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 10fr 0.2fr;
  }

  /* line 55, ../sass/mobileML.scss */
  .main_block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: ". basic ." ". pro ." ". master .";
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 4fr 4fr 4fr;
    grid-row-gap: 1%;
    grid-area: main;
  }

  /* line 68, ../sass/mobileML.scss */
  .head_block {
    margin: 0 0 0 5%;
    display: grid;
    grid-template-areas: "title title title" "annual switch month";
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-area: head;
  }
  /* line 77, ../sass/mobileML.scss */
  .head_block .title {
    font-size: 1.6em;
    padding: 5% 0 0 35%;
    grid-area: title;
  }
  /* line 82, ../sass/mobileML.scss */
  .head_block .switch_block {
    display: grid;
    grid-template-areas: ". . ." ". center ." ". . .";
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    margin-left: 25%;
    grid-area: switch;
  }
  /* line 93, ../sass/mobileML.scss */
  .head_block .annual_option {
    font-size: 1.4em;
    padding: 5% 0 0 40%;
    grid-area: annual;
  }
  /* line 98, ../sass/mobileML.scss */
  .head_block .month_option {
    font-size: 1.4em;
    padding: 5% 20% 0 0;
    grid-area: month;
  }

  /* line 104, ../sass/mobileML.scss */
  .basic_option_block {
    background-color: white;
    width: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 1%;
    grid-template-columns: 100%;
    grid-area: basic;
  }

  /* line 108, ../sass/mobileML.scss */
  .basic_title {
    text-align: center;
    padding-top: 5%;
    font-size: 1.8em;
    grid-area: title;
  }

  /* line 114, ../sass/mobileML.scss */
  .basic_monthly_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 121, ../sass/mobileML.scss */
  .basic_annually_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 127, ../sass/mobileML.scss */
  .basic_storage {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 133, ../sass/mobileML.scss */
  .basic_userAllowance {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 139, ../sass/mobileML.scss */
  .basic_send {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 145, ../sass/mobileML.scss */
  .basic_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 10% 0 0 5%;
    grid-area: btn;
  }

  /* line 149, ../sass/mobileML.scss */
  .professional_option_block {
    background-color: white;
    width: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 1%;
    grid-template-columns: 100%;
    grid-area: pro;
  }

  /* line 153, ../sass/mobileML.scss */
  .pro_title {
    text-align: center;
    padding: 5%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 159, ../sass/mobileML.scss */
  .pro_monthly_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 166, ../sass/mobileML.scss */
  .pro_annually_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 172, ../sass/mobileML.scss */
  .pro_storage {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 178, ../sass/mobileML.scss */
  .pro_userAllowance {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 184, ../sass/mobileML.scss */
  .pro_send {
    text-align: center;
    padding: 3%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 190, ../sass/mobileML.scss */
  .pro_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 10% 0 0 5%;
    grid-area: btn;
  }

  /* line 194, ../sass/mobileML.scss */
  .master_option_block {
    background-color: white;
    width: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 1%;
    grid-template-columns: 100%;
    grid-area: master;
  }

  /* line 198, ../sass/mobileML.scss */
  .master_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 204, ../sass/mobileML.scss */
  .master_monthly_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 211, ../sass/mobileML.scss */
  .master_annually_value {
    text-align: center;
    padding-top: 25%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 217, ../sass/mobileML.scss */
  .master_storage {
    text-align: center;
    padding: 1%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 223, ../sass/mobileML.scss */
  .master_userAllowance {
    text-align: center;
    padding: 1%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 229, ../sass/mobileML.scss */
  .master_send {
    text-align: center;
    padding: 1%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 235, ../sass/mobileML.scss */
  .master_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 10% 0 0 5%;
    grid-area: btn;
  }

  /* line 240, ../sass/mobileML.scss */
  .attribution {
    grid-area: bottom;
  }

  /* line 243, ../sass/mobileML.scss */
  .value {
    margin: 30px 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    margin-top: 50%;
    grid-area: value;
  }

  /* line 248, ../sass/mobileML.scss */
  .storage {
    margin: 30px 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: storage;
  }

  /* line 252, ../sass/mobileML.scss */
  .allowance {
    margin: 30px 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: allowed;
  }

  /* line 256, ../sass/mobileML.scss */
  .send {
    margin: 30px 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: send;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 37, ../sass/tablet.scss */
  * {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: Montserrat;
  }

  /* line 43, ../sass/tablet.scss */
  body {
    background-image: url(../../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-size: 30%;
    background-color: #f6f6fe;
    display: grid;
    grid-template-areas: ". head ." ". main ." ". bottom .";
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
  }

  /* line 57, ../sass/tablet.scss */
  .head_block {
    display: grid;
    grid-template-areas: "title title title" "annual switch month";
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.5fr 0.5fr;
    margin: 0 0 0 28%;
    grid-area: head;
  }
  /* line 66, ../sass/tablet.scss */
  .head_block .title {
    font-size: 1.25em;
    padding: 5% 0 0 24%;
    grid-area: title;
  }
  /* line 71, ../sass/tablet.scss */
  .head_block .switch_block {
    display: grid;
    grid-template-areas: "." "center" ".";
    grid-template-columns: 100%;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-area: switch;
    margin: 5% 0 0 1%;
  }
  /* line 82, ../sass/tablet.scss */
  .head_block .annual_option {
    font-size: 1em;
    padding: 10% 0 0 0;
    margin-right: 2%;
    grid-area: annual;
  }
  /* line 88, ../sass/tablet.scss */
  .head_block .month_option {
    font-size: 1em;
    padding: 10% 0 0 1%;
    grid-area: month;
  }

  /* line 94, ../sass/tablet.scss */
  .main_block {
    background-blend-mode: #f6f6fe;
    display: grid;
    grid-template-areas: "basic pro master";
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 100%;
    grid-gap: 2%;
    grid-area: main;
  }

  /* line 104, ../sass/tablet.scss */
  .basic_option_block {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: basic;
  }

  /* line 108, ../sass/tablet.scss */
  .basic_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 114, ../sass/tablet.scss */
  .basic_monthly_value {
    text-align: center;
    padding-top: 25%;
    font-size: 1.8em;
    grid-area: value;
    display: none;
  }

  /* line 121, ../sass/tablet.scss */
  .basic_annually_value {
    text-align: center;
    padding: 25%;
    font-size: 1.8em;
    grid-area: value;
  }

  /* line 127, ../sass/tablet.scss */
  .basic_storage {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 133, ../sass/tablet.scss */
  .basic_userAllowance {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 139, ../sass/tablet.scss */
  .basic_send {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 145, ../sass/tablet.scss */
  .basic_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 50%;
    font-size: 1.6em;
    width: 90%;
    margin: 5% 0 0 5%;
    grid-area: btn;
  }

  /* line 149, ../sass/tablet.scss */
  .professional_option_block {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: pro;
  }

  /* line 153, ../sass/tablet.scss */
  .pro_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 159, ../sass/tablet.scss */
  .pro_monthly_value {
    text-align: center;
    padding: 25%;
    font-size: 1.8em;
    grid-area: value;
    display: none;
  }

  /* line 166, ../sass/tablet.scss */
  .pro_annually_value {
    text-align: center;
    padding: 25%;
    font-size: 1.8em;
    grid-area: value;
  }

  /* line 172, ../sass/tablet.scss */
  .pro_storage {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 178, ../sass/tablet.scss */
  .pro_userAllowance {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 184, ../sass/tablet.scss */
  .pro_send {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 190, ../sass/tablet.scss */
  .pro_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 50%;
    font-size: 1.6em;
    width: 90%;
    margin: 5% 0 0 5%;
    grid-area: btn;
  }

  /* line 194, ../sass/tablet.scss */
  .master_option_block {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: master;
  }

  /* line 198, ../sass/tablet.scss */
  .master_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 204, ../sass/tablet.scss */
  .master_monthly_value {
    text-align: center;
    padding: 25%;
    font-size: 1.8em;
    grid-area: value;
    display: none;
  }

  /* line 211, ../sass/tablet.scss */
  .master_annually_value {
    text-align: center;
    padding: 25%;
    font-size: 1.8em;
    grid-area: value;
  }

  /* line 217, ../sass/tablet.scss */
  .master_storage {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 223, ../sass/tablet.scss */
  .master_userAllowance {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 229, ../sass/tablet.scss */
  .master_send {
    text-align: center;
    padding: 5%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 235, ../sass/tablet.scss */
  .master_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 50%;
    font-size: 1.6em;
    width: 90%;
    margin: 5% 0 0 5%;
    grid-area: btn;
  }

  /* line 240, ../sass/tablet.scss */
  .attribution {
    grid-area: bottom;
  }

  /* line 243, ../sass/tablet.scss */
  .value {
    margin: 20% 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    margin-top: 70%;
    grid-area: value;
  }

  /* line 248, ../sass/tablet.scss */
  .storage {
    margin: 20% 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: storage;
  }

  /* line 252, ../sass/tablet.scss */
  .allowance {
    margin: 20% 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: allowed;
  }

  /* line 256, ../sass/tablet.scss */
  .send {
    margin: 20% 0 0 5%;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: send;
  }

  /* line 260, ../sass/tablet.scss */
  .attribution {
    grid-area: bottom;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  /* line 36, ../sass/laptop.scss */
  * {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: Montserrat;
  }

  /* line 42, ../sass/laptop.scss */
  body {
    background-image: url(../../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-size: 30%;
    background-color: #f6f6fe;
    display: grid;
    grid-template-areas: ". head ." ". main ." ". bottom .";
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
  }

  /* line 56, ../sass/laptop.scss */
  .head_block {
    display: grid;
    grid-template-areas: "title title title" "annual switch month";
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.5fr 0.5fr;
    margin: 0 0 0 32%;
    grid-area: head;
  }
  /* line 65, ../sass/laptop.scss */
  .head_block .title {
    font-size: 1.25em;
    padding: 5% 0 0 28%;
    grid-area: title;
  }
  /* line 70, ../sass/laptop.scss */
  .head_block .switch_block {
    display: grid;
    grid-template-areas: "." "center" ".";
    grid-template-columns: 100%;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-area: switch;
  }
  /* line 80, ../sass/laptop.scss */
  .head_block .annual_option {
    font-size: 1.1em;
    padding: 5% 0 0 0;
    grid-area: annual;
  }
  /* line 85, ../sass/laptop.scss */
  .head_block .month_option {
    font-size: 1.1em;
    padding: 5% 0 0 1%;
    grid-area: month;
  }

  /* line 91, ../sass/laptop.scss */
  .main_block {
    background-blend-mode: #f6f6fe;
    display: grid;
    grid-template-areas: "basic pro master";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 100%;
    grid-gap: 1%;
    grid-area: main;
  }

  /* line 101, ../sass/laptop.scss */
  .basic_option_block {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: basic;
  }

  /* line 105, ../sass/laptop.scss */
  .basic_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 111, ../sass/laptop.scss */
  .basic_monthly_value {
    text-align: center;
    padding: 4%;
    font-size: 3em;
    grid-area: value;
    display: none;
  }

  /* line 118, ../sass/laptop.scss */
  .basic_annually_value {
    text-align: center;
    padding: 4%;
    font-size: 3em;
    grid-area: value;
  }

  /* line 124, ../sass/laptop.scss */
  .basic_storage {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 130, ../sass/laptop.scss */
  .basic_userAllowance {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 136, ../sass/laptop.scss */
  .basic_send {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 142, ../sass/laptop.scss */
  .basic_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 5% 0 0 2%;
    grid-area: btn;
  }

  /* line 146, ../sass/laptop.scss */
  .professional_option_block {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: pro;
  }

  /* line 150, ../sass/laptop.scss */
  .pro_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 156, ../sass/laptop.scss */
  .pro_monthly_value {
    text-align: center;
    padding: 4%;
    font-size: 3em;
    grid-area: value;
    display: none;
  }

  /* line 163, ../sass/laptop.scss */
  .pro_annually_value {
    text-align: center;
    padding: 4%;
    font-size: 3em;
    grid-area: value;
  }

  /* line 169, ../sass/laptop.scss */
  .pro_storage {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 175, ../sass/laptop.scss */
  .pro_userAllowance {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 181, ../sass/laptop.scss */
  .pro_send {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 187, ../sass/laptop.scss */
  .pro_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 5% 0 0 2%;
    grid-area: btn;
  }

  /* line 191, ../sass/laptop.scss */
  .master_option_block {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr;
    grid-gap: 2%;
    grid-template-columns: 100%;
    grid-area: master;
  }

  /* line 195, ../sass/laptop.scss */
  .master_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 201, ../sass/laptop.scss */
  .master_monthly_value {
    text-align: center;
    padding: 4%;
    font-size: 3em;
    grid-area: value;
    display: none;
  }

  /* line 208, ../sass/laptop.scss */
  .master_annually_value {
    text-align: center;
    padding: 4%;
    font-size: 3em;
    grid-area: value;
  }

  /* line 214, ../sass/laptop.scss */
  .master_storage {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 220, ../sass/laptop.scss */
  .master_userAllowance {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 226, ../sass/laptop.scss */
  .master_send {
    text-align: center;
    padding: 2%;
    color: #6d708d;
    grid-area: send;
  }

  /* line 232, ../sass/laptop.scss */
  .master_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 2vh;
    height: 55%;
    width: 90%;
    margin: 5% 0 0 2%;
    grid-area: btn;
  }

  /* line 237, ../sass/laptop.scss */
  .attribution {
    grid-area: bottom;
  }

  /* line 240, ../sass/laptop.scss */
  .value {
    margin: 16% 0 0 0;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    margin-top: 50%;
    grid-area: value;
  }

  /* line 245, ../sass/laptop.scss */
  .storage {
    margin: 16% 0 0 0;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: storage;
  }

  /* line 249, ../sass/laptop.scss */
  .allowance {
    margin: 16% 0 0 0;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: allowed;
  }

  /* line 253, ../sass/laptop.scss */
  .send {
    margin: 16% 0 0 0;
    color: #b3aeae;
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: send;
  }

  /* line 257, ../sass/laptop.scss */
  .attribution {
    grid-area: bottom;
  }
}
@media screen and (min-width: 1025px) {
  /* line 37, ../sass/laptopL.scss */
  * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Montserrat;
  }

  /* line 43, ../sass/laptopL.scss */
  body {
    background-image: url(../../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-size: 30%;
    background-color: #f6f6fe;
    display: grid;
    grid-template-areas: ". head ." ". main ." ". bottom .";
    grid-template-columns: 2fr 8fr 2fr;
    grid-gap: 1%;
    grid-template-rows: 1fr 4fr 1fr;
  }

  /* line 58, ../sass/laptopL.scss */
  .head_block {
    display: grid;
    grid-template-areas: "title title title" "annual switch month";
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.5fr 0.5fr;
    margin: 0 0 0 38%;
    grid-area: head;
  }
  /* line 67, ../sass/laptopL.scss */
  .head_block .title {
    font-size: 1.25em;
    padding: 5% 0 0 30%;
    grid-area: title;
  }
  /* line 72, ../sass/laptopL.scss */
  .head_block .switch_block {
    display: grid;
    grid-template-areas: "." "center" ".";
    grid-template-columns: 60%;
    grid-template-rows: 0.2fr 0.3fr 0.2fr;
    grid-area: switch;
  }
  /* line 82, ../sass/laptopL.scss */
  .head_block .annual_option {
    font-size: 1.4em;
    padding: 15% 0 0 0;
    grid-area: annual;
  }
  /* line 87, ../sass/laptopL.scss */
  .head_block .month_option {
    font-size: 1.4em;
    padding: 15% 0 0 14%;
    grid-area: month;
  }

  /* line 93, ../sass/laptopL.scss */
  .main_block {
    padding: 2% 0 0 0;
    background-blend-mode: #f6f6fe;
    display: grid;
    grid-template-areas: "basic pro master";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 87%;
    grid-gap: 1%;
    grid-area: main;
  }

  /* line 104, ../sass/laptopL.scss */
  .basic_option_block {
    background-color: white;
    width: 100%;
    height: 87%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-area: basic;
  }

  /* line 108, ../sass/laptopL.scss */
  .basic_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 114, ../sass/laptopL.scss */
  .basic_monthly_value {
    text-align: center;
    padding: 2%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 121, ../sass/laptopL.scss */
  .basic_annually_value {
    text-align: center;
    padding: 2%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 127, ../sass/laptopL.scss */
  .basic_storage {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 134, ../sass/laptopL.scss */
  .basic_userAllowance {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 141, ../sass/laptopL.scss */
  .basic_send {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: send;
  }

  /* line 148, ../sass/laptopL.scss */
  .basic_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 10vh;
    height: 50%;
    width: 90%;
    margin: 5% 0 0 3%;
    grid-area: btn;
  }

  /* line 152, ../sass/laptopL.scss */
  .professional_option_block {
    background-color: white;
    width: 100%;
    height: 87%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-area: pro;
  }

  /* line 156, ../sass/laptopL.scss */
  .pro_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 162, ../sass/laptopL.scss */
  .pro_monthly_value {
    text-align: center;
    padding: 4%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 169, ../sass/laptopL.scss */
  .pro_annually_value {
    text-align: center;
    padding: 4%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 175, ../sass/laptopL.scss */
  .pro_storage {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 182, ../sass/laptopL.scss */
  .pro_userAllowance {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 189, ../sass/laptopL.scss */
  .pro_send {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: send;
  }

  /* line 196, ../sass/laptopL.scss */
  .pro_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 10vh;
    height: 50%;
    width: 90%;
    margin: 5% 0 0 3%;
    grid-area: btn;
  }

  /* line 200, ../sass/laptopL.scss */
  .master_option_block {
    background-color: white;
    width: 100%;
    height: 87%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas: "title" "value" "storage" "allowed" "send" "btn";
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-area: master;
  }

  /* line 204, ../sass/laptopL.scss */
  .master_title {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    grid-area: title;
  }

  /* line 210, ../sass/laptopL.scss */
  .master_monthly_value {
    text-align: center;
    padding: 4%;
    font-size: 4em;
    grid-area: value;
    display: none;
  }

  /* line 217, ../sass/laptopL.scss */
  .master_annually_value {
    text-align: center;
    padding: 4%;
    font-size: 4em;
    grid-area: value;
  }

  /* line 223, ../sass/laptopL.scss */
  .master_storage {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: storage;
  }

  /* line 230, ../sass/laptopL.scss */
  .master_userAllowance {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: allowed;
  }

  /* line 237, ../sass/laptopL.scss */
  .master_send {
    text-align: center;
    padding: 2%;
    font-size: 1.6em;
    color: #6d708d;
    grid-area: send;
  }

  /* line 244, ../sass/laptopL.scss */
  .master_learnMore {
    background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    color: white;
    border: none;
    border-radius: 10vh;
    height: 50%;
    width: 90%;
    margin: 5% 0 0 3%;
    grid-area: btn;
  }

  /* line 249, ../sass/laptopL.scss */
  .attribution {
    grid-area: bottom;
  }

  /* line 252, ../sass/laptopL.scss */
  .value {
    margin: 16% 0 0 5%;
    color: #b3aeae;
    width: 85%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    margin-top: 50%;
    grid-area: value;
  }

  /* line 257, ../sass/laptopL.scss */
  .storage {
    margin: 16% 0 0 5%;
    color: #b3aeae;
    width: 85%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: storage;
  }

  /* line 261, ../sass/laptopL.scss */
  .allowance {
    margin: 16% 0 0 5%;
    color: #b3aeae;
    width: 85%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: allowed;
  }

  /* line 265, ../sass/laptopL.scss */
  .send {
    margin: 16% 0 0 5%;
    color: #b3aeae;
    width: 85%;
    height: 1%;
    border-style: hidden hidden solid hidden;
    grid-area: send;
  }

  /* line 269, ../sass/laptopL.scss */
  .attribution {
    grid-area: bottom;
  }
}

/*# sourceMappingURL=main.css.map */