/* line 1, ../sass/slider.scss */
.slidecontainer {
  grid-area: slider;
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
/* line 7, ../sass/slider.scss */
.slider1 {
  margin: 40px 0 0 0;
  border-radius: 10px;
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 15px;
  /* Specified height */
  background: #a5f3eb;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
/* line 22, ../sass/slider.scss */
.slider1:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
/* line 27, ../sass/slider.scss */
.slider1::-webkit-slider-thumb {
  border-radius: 30px;
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  background-image: url("../../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  /* Set a specific slider handle width */
  height: 35px;
  /* Slider handle height */
  background-color: #10d5c2;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/* switche styles */
/* The switch - the box around the slider */
/* line 42, ../sass/slider.scss */
.switch {
  grid-area: switch;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
/* line 51, ../sass/slider.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/* line 58, ../sass/slider.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 70, ../sass/slider.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 82, ../sass/slider.scss */
input:checked + .slider {
  background-color: #2196F3;
}

/* line 86, ../sass/slider.scss */
input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

/* line 90, ../sass/slider.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* line 97, ../sass/slider.scss */
.slider.round {
  border-radius: 34px;
}

/* line 101, ../sass/slider.scss */
.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  /* line 4, ../sass/mobile.scss */
  * {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: Manrope;
  }

  /* line 10, ../sass/mobile.scss */
  body {
    background-image: url("../../images/bg-pattern.svg");
    background-color: #fafbff;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: ". head ." ". main ." ". footer .";
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 2fr 4fr 2fr;
  }

  /* line 22, ../sass/mobile.scss */
  .head_block {
    background-image: url("../../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    grid-area: head;
    display: grid;
    grid-template-areas: ". . ." ". center ." ". . .";
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
  }
  /* line 35, ../sass/mobile.scss */
  .head_block .title_head {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    margin: 15% 0 0 0;
    grid-area: center;
  }
  /* line 42, ../sass/mobile.scss */
  .head_block .subtitle_head {
    color: #858fad;
    font-size: 1.5em;
    text-align: center;
    margin: 45% 0 0 0;
    grid-area: center;
  }

  /* line 50, ../sass/mobile.scss */
  .main_block {
    background-color: white;
    display: grid;
    grid-area: main;
    grid-template-areas: "pageV" "slider" "MValue" "choice" "bottom";
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 2fr;
  }
  /* line 62, ../sass/mobile.scss */
  .main_block .pageViews {
    color: #858fad;
    text-align: center;
    margin: 15% 0 0 0;
    font-size: 1.4em;
    grid-area: pageV;
    display: grid;
    grid-template-areas: ". Value pageView .";
    grid-template-columns: 2fr 0.5fr 0.5fr 2fr;
    grid-template-rows: 0.5fr;
  }
  /* line 73, ../sass/mobile.scss */
  .main_block .pageViews p {
    font-size: 1.4em;
    grid-area: Value;
  }
  /* line 77, ../sass/mobile.scss */
  .main_block .pageViews .pageViews_title {
    font-size: 1.4em;
    margin: 0 0 0 10%;
    grid-area: pageView;
  }

  /* line 84, ../sass/mobile.scss */
  .MonthValue_block {
    display: grid;
    grid-template-areas: ". value title .";
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 0.5fr;
    grid-area: MValue;
  }
  /* line 91, ../sass/mobile.scss */
  .MonthValue_block .value_month {
    grid-area: value;
    font-size: 2em;
  }
  /* line 95, ../sass/mobile.scss */
  .MonthValue_block .monthTitle {
    color: #858fad;
    grid-area: title;
    font-size: 1.4em;
    margin: 0 0 0 20%;
  }

  /* line 102, ../sass/mobile.scss */
  .choice_block {
    width: 100%;
    height: 100%;
    grid-area: choice;
    display: grid;
    grid-template-areas: "month switch yearly discount";
    grid-template-columns: 2fr 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.5fr;
  }
  /* line 111, ../sass/mobile.scss */
  .choice_block .month_choice {
    padding: 5% 0 0 10%;
    font-size: 1.2em;
    grid-area: month;
    color: #858fad;
  }
  /* line 117, ../sass/mobile.scss */
  .choice_block .yearly_choice {
    color: #858fad;
    padding: 5% 0 0 10%;
    font-size: 1.2em;
    grid-area: yearly;
  }
  /* line 123, ../sass/mobile.scss */
  .choice_block .discount_value {
    grid-area: discount;
    font-size: 1.2em;
    border-radius: 10vh;
    background-color: #feece7;
    border-color: #feece7;
    width: 100%;
    height: 40%;
    text-align: center;
    color: #ff8c66;
    margin: 10% 0 0 0;
    padding: 5% 0 0 0;
  }
  /* line 136, ../sass/mobile.scss */
  .choice_block .discount {
    display: none;
  }

  /* line 140, ../sass/mobile.scss */
  .list_block {
    display: grid;
    grid-area: bottom;
    grid-template-areas: ". unlimited ." ". ownership ." ". email ." ". btn .";
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }
  /* line 150, ../sass/mobile.scss */
  .list_block .unlimited_item {
    color: #858fad;
    margin: 0 0 0 5%;
    padding: 5% 0 0 0;
    grid-area: unlimited;
  }
  /* line 156, ../sass/mobile.scss */
  .list_block .ownership_item {
    color: #858fad;
    padding: 5% 0 0 0;
    grid-area: ownership;
  }
  /* line 161, ../sass/mobile.scss */
  .list_block .email_item {
    color: #858fad;
    padding: 5% 0 0 0;
    margin: 0 0 0 15%;
    grid-area: email;
  }
  /* line 167, ../sass/mobile.scss */
  .list_block .trial_btn {
    margin: 5% 0 0 0;
    padding: 2% 0 0 0;
    grid-area: btn;
    width: 100%;
    height: 50%;
    border-radius: 5vh;
    border-color: #293356;
    background-color: #293356;
    color: white;
  }

  /* line 179, ../sass/mobile.scss */
  .attribution {
    font-size: 11px;
    text-align: center;
    color: #3e52a3;
    grid-area: footer;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  /* line 4, ../sass/medium.scss */
  * {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Manrope;
    color: #858fad;
  }

  /* line 11, ../sass/medium.scss */
  body {
    background-image: url("../../images/bg-pattern.svg");
    background-color: #fafbff;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: ". head ." ". main ." ". footer .";
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 2fr 4fr 2fr;
  }

  /* line 23, ../sass/medium.scss */
  .head_block {
    background-image: url("../../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    grid-area: head;
    display: grid;
    grid-template-areas: ". . ." ". center ." ". . .";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-area: head;
  }
  /* line 37, ../sass/medium.scss */
  .head_block .title_head {
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    grid-area: center;
    color: black;
  }
  /* line 44, ../sass/medium.scss */
  .head_block .subtitle_head {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    margin: 30% 0 0 0;
    grid-area: center;
  }

  /* line 52, ../sass/medium.scss */
  .main_block {
    display: grid;
    grid-template-areas: "pageViews pageViews . monthBlock monthBlock ." "slider slider slider slider slider slider" "choiceBlock choiceBlock choiceBlock choiceBlock choiceBlock choiceBlock" "bottom bottom bottom bottom bottom bottom";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 2fr;
    grid-area: main;
    background-color: white;
  }
  /* line 63, ../sass/medium.scss */
  .main_block .pageViews {
    grid-area: pageViews;
    display: grid;
    grid-template-areas: "value title";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 10% 0 0 0;
  }
  /* line 71, ../sass/medium.scss */
  .main_block .pageViews .pageViews_title {
    font-size: 1.4em;
    padding: 10% 0 0 15%;
    grid-area: title;
  }
  /* line 76, ../sass/medium.scss */
  .main_block .pageViews p {
    padding: 10% 0 0 50%;
    font-size: 1.4em;
    grid-area: value;
  }
  /* line 82, ../sass/medium.scss */
  .main_block .MonthValue_block {
    display: grid;
    grid-template-areas: "value title";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr;
    grid-area: monthBlock;
    margin: 15% 0 0 0;
  }
  /* line 90, ../sass/medium.scss */
  .main_block .MonthValue_block .value_month {
    padding: 0 0 0 15%;
    font-size: 2em;
    grid-area: value;
    color: black;
  }
  /* line 96, ../sass/medium.scss */
  .main_block .MonthValue_block .monthTitle {
    font-size: 1.4em;
    padding: 10% 0 0 25%;
    grid-area: title;
  }
  /* line 102, ../sass/medium.scss */
  .main_block .slidecontainer {
    grid-area: slider;
  }
  /* line 105, ../sass/medium.scss */
  .main_block .choice_block {
    display: grid;
    grid-template-areas: ". monthly switch yearly discount";
    grid-template-columns: 1.5fr 2fr 0.7fr 2fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-area: choiceBlock;
  }
  /* line 112, ../sass/medium.scss */
  .main_block .choice_block .month_choice {
    padding: 5% 0 0 20%;
    font-size: 1.2em;
    grid-area: monthly;
  }
  /* line 117, ../sass/medium.scss */
  .main_block .choice_block .switch {
    grid-area: switch;
  }
  /* line 120, ../sass/medium.scss */
  .main_block .choice_block .yearly_choice {
    padding: 5% 0 0 20%;
    font-size: 1.2em;
    grid-area: yearly;
  }
  /* line 125, ../sass/medium.scss */
  .main_block .choice_block .discount_value {
    font-size: 1.2em;
    border-radius: 10vh;
    background-color: #feece7;
    border-color: #feece7;
    width: 85%;
    height: 30%;
    margin: 15% 0 0 0;
    grid-area: discount;
    color: #ff8c66;
  }
  /* line 136, ../sass/medium.scss */
  .main_block .choice_block .discount {
    font-size: 1.2em;
    border-radius: 10vh;
    background-color: #feece7;
    border-color: #feece7;
    width: 100%;
    height: 30%;
    margin: 15% 0 0 65%;
    grid-area: discount;
    color: #ff8c66;
  }
  /* line 148, ../sass/medium.scss */
  .main_block .list_block {
    display: grid;
    grid-area: bottom;
    grid-template-areas: ". unlimited ." ". ownership btn" ". email .";
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    grid-template-columns: 1fr 3fr 2fr;
  }
  /* line 158, ../sass/medium.scss */
  .main_block .list_block .unlimited_item {
    color: #858fad;
    font-size: 1.2em;
    margin: 0 0 0 5%;
    padding: 25% 0 0 0;
    grid-area: unlimited;
  }
  /* line 165, ../sass/medium.scss */
  .main_block .list_block .ownership_item {
    color: #858fad;
    font-size: 1.2em;
    padding: 3% 0 0 0;
    grid-area: ownership;
  }
  /* line 171, ../sass/medium.scss */
  .main_block .list_block .email_item {
    color: #858fad;
    font-size: 1.2em;
    padding: 0 0 0 20%;
    margin: 0 0 25% 0;
    grid-area: email;
  }
  /* line 178, ../sass/medium.scss */
  .main_block .list_block .trial_btn {
    padding: 1% 0 0 0;
    grid-area: btn;
    width: 80%;
    height: 80%;
    border-radius: 30vh;
    border-color: #293356;
    background-color: #293356;
    font-size: 1.4em;
    color: white;
  }

  /* line 192, ../sass/medium.scss */
  .attribution {
    grid-area: footer;
  }
}
@media screen and (min-width: 1025px) {
  /* line 2, ../sass/large.scss */
  * {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Manrope;
    color: #858fad;
  }

  /* line 9, ../sass/large.scss */
  body {
    background-image: url("../../images/bg-pattern.svg");
    background-color: #fafbff;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: ". head ." ". main ." ". footer .";
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 2fr 4fr 2fr;
  }

  /* line 21, ../sass/large.scss */
  .head_block {
    background-image: url("../../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    grid-area: head;
    display: grid;
    grid-template-areas: ". . ." ". center ." ". . .";
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 0.5fr 1fr 0.5;
  }

  /* line 35, ../sass/large.scss */
  .title_head {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    grid-area: center;
    color: black;
  }

  /* line 42, ../sass/large.scss */
  .subtitle_head {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    margin: 18% 0 0 0;
    grid-area: center;
  }

  /* line 49, ../sass/large.scss */
  .main_block {
    display: grid;
    grid-template-areas: "pageViews pageViews . monthBlock monthBlock ." "slider slider slider slider slider slider" "choiceBlock choiceBlock choiceBlock choiceBlock choiceBlock choiceBlock" "bottom bottom bottom bottom bottom bottom";
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 2fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 2fr;
    grid-area: main;
    background-color: white;
  }

  /* line 61, ../sass/large.scss */
  .pageViews {
    grid-area: pageViews;
    display: grid;
    grid-template-areas: "value title";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin: 5% 0 0 0;
  }
  /* line 69, ../sass/large.scss */
  .pageViews .pageViews_title {
    font-size: 2em;
    padding: 10px 0 0 0;
    grid-area: title;
  }
  /* line 74, ../sass/large.scss */
  .pageViews p {
    padding: 5% 0 0 55%;
    font-size: 2em;
    grid-area: value;
  }

  /* line 81, ../sass/large.scss */
  .MonthValue_block {
    display: grid;
    grid-template-areas: "value title";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr;
    grid-area: monthBlock;
    margin: 5% 0 0 0;
  }
  /* line 89, ../sass/large.scss */
  .MonthValue_block .value_month {
    padding: 0 0 0 15%;
    font-size: 3em;
    grid-area: value;
    color: black;
  }
  /* line 95, ../sass/large.scss */
  .MonthValue_block .monthTitle {
    font-size: 2em;
    padding: 5% 0 0 25%;
    grid-area: title;
  }

  /* line 101, ../sass/large.scss */
  .slidecontainer {
    grid-area: slider;
  }

  /* line 104, ../sass/large.scss */
  .choice_block {
    display: grid;
    grid-template-areas: ". monthly switch yearly discount .";
    grid-template-columns: 1fr 3fr 0.5fr 2fr 2fr 2fr;
    grid-template-rows: 0.5fr;
    grid-area: choiceBlock;
  }
  /* line 111, ../sass/large.scss */
  .choice_block .month_choice {
    padding: 0 0 0 30%;
    font-size: 1.6em;
    grid-area: monthly;
  }
  /* line 116, ../sass/large.scss */
  .choice_block .switch {
    grid-area: switch;
  }
  /* line 119, ../sass/large.scss */
  .choice_block .yearly_choice {
    padding: 0 0 0 10%;
    font-size: 1.6em;
    grid-area: yearly;
  }
  /* line 124, ../sass/large.scss */
  .choice_block .discount_value {
    font-size: 1.6em;
    border-radius: 10vh;
    background-color: #feece7;
    border-color: #feece7;
    width: 60%;
    height: 65%;
    margin: 0 0 0 35%;
    grid-area: discount;
    color: #ff8c66;
  }
  /* line 135, ../sass/large.scss */
  .choice_block .discount {
    font-size: 1.6em;
    border-radius: 10vh;
    background-color: #feece7;
    border-color: #feece7;
    width: 60%;
    height: 65%;
    margin: 0 0 0 65%;
    padding: 0 0 0 5%;
    grid-area: discount;
    color: #ff8c66;
  }

  /* line 148, ../sass/large.scss */
  .list_block {
    display: grid;
    grid-area: bottom;
    grid-template-areas: ". unlimited ." ". ownership btn" ". email .";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 6fr 4fr;
  }
  /* line 157, ../sass/large.scss */
  .list_block .unlimited_item {
    color: #858fad;
    font-size: 2em;
    margin: 0 0 0 3%;
    padding: 5% 0 0 0;
    grid-area: unlimited;
  }
  /* line 164, ../sass/large.scss */
  .list_block .ownership_item {
    color: #858fad;
    font-size: 2em;
    padding: 2% 0 0 0;
    grid-area: ownership;
  }
  /* line 170, ../sass/large.scss */
  .list_block .email_item {
    color: #858fad;
    font-size: 2em;
    padding: 0 0 0 5%;
    margin: 0 0 7% 0;
    grid-area: email;
  }
  /* line 177, ../sass/large.scss */
  .list_block .trial_btn {
    margin: 0 0 0 30%;
    padding: 2% 0 0 0;
    grid-area: btn;
    width: 50%;
    height: 87%;
    border-radius: 30vh;
    border-color: #293356;
    background-color: #293356;
    font-size: 1.5em;
    color: white;
  }

  /* line 190, ../sass/large.scss */
  .attribution {
    grid-area: footer;
  }
}

/*# sourceMappingURL=main.css.map */