@mixin options_blocks {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    display: grid;
    grid-template-areas:
        "title"
        "value"
        "storage"
        "allowed"
        "send"
        "btn";
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr 1fr; 
    grid-gap: 2%;
    grid-template-columns: 100%;
}
@mixin lineStyles {
    margin: 20% 0 0 5%;
    color: rgb(179, 174, 174);
    width: 90%;
    height: 1%;
    border-style: hidden hidden solid hidden;
}
@mixin btnStyles {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    color: white;
    border: none;
    border-radius: 2vh;
    height: 50%;
    font-size: 1.6em;
    width: 90%;
    margin: 5% 0 0 5%;
}
$backgroundColor: hsl(240, 78%, 98%);
@media screen and (min-width: 500px) and (max-width: 800px) {
    * {
        padding: 0;
        margin: 0;
        font-size: 1em;
        font-family: Montserrat;  
    }
    body {
        background-image: url(../../images/bg-top.svg);        
        background-repeat: no-repeat;
        background-position-x: 700px;
        background-size:  30%;
        background-color: $backgroundColor;
        display: grid;
        grid-template-areas: 
            ". head ."
            ". main ."
            ". bottom .";
        grid-template-columns: 2fr 6fr 2fr;
        grid-template-rows: 1fr 4fr 1fr;
    }
        .head_block {
                display: grid;
                grid-template-areas: 
                    "title title title"
                    "annual switch month";
                grid-template-columns: 0.2fr 0.2fr 0.2fr;
                grid-template-rows:0.5fr 0.5fr;
                margin: 0 0 0 28%;
                grid-area: head;
                .title {
                    font-size: 1.25em;
                    padding: 5% 0 0 24%;
                    grid-area: title;
                }
                .switch_block {
                    display: grid;
                    grid-template-areas: 
                        "."
                        "center"
                        ".";
                    grid-template-columns: 100%;
                    grid-template-rows: 0.1fr 0.5fr 0.1fr;
                    grid-area: switch;
                    margin: 5% 0 0 1%;
                }
                .annual_option {
                    font-size: 1em;
                    padding: 10% 0 0 0;
                    margin-right: 2%;
                    grid-area: annual;
                }
                .month_option {
                    font-size: 1em;
                    padding: 10% 0 0 1%;
                    grid-area: month;
                }
            }
    .main_block {
        background-blend-mode: $backgroundColor;
        display: grid;
        grid-template-areas:  
            "basic pro master";
        grid-template-columns: 4fr 4fr 4fr;
        grid-template-rows:  100%;
        grid-gap: 2%;
        grid-area: main;
    } 
            .basic_option_block {
                @include options_blocks();    
                grid-area: basic;
            }
                .basic_title {
                    text-align: center;
                    padding: 3%;
                    font-size: 1.4em;
                    grid-area: title;
                }
                .basic_monthly_value {
                    text-align: center;
                    padding-top: 25%;
                    font-size: 1.8em;
                    grid-area: value;
                    display: none;
                }
                .basic_annually_value {
                    text-align: center;
                    padding: 25%;
                    font-size: 1.8em;
                    grid-area: value;
                }
                .basic_storage {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: storage;
                }
                .basic_userAllowance {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: allowed;
                }
                .basic_send {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: send;
                }
                .basic_learnMore {
                    @include btnStyles();
                    grid-area: btn;
                }
            .professional_option_block {
                @include options_blocks();
                grid-area: pro;
            }
                .pro_title {
                    text-align: center;
                    padding: 3%;
                    font-size: 1.4em;
                    grid-area: title;
                }
                .pro_monthly_value {
                    text-align: center;
                    padding: 25%;
                    font-size: 1.8em;
                    grid-area: value;
                    display: none;
                }
                .pro_annually_value {
                    text-align: center;
                    padding: 25%;
                    font-size: 1.8em;
                    grid-area: value;
                }
                .pro_storage {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: storage;
                }
                .pro_userAllowance {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: allowed;
                }
                .pro_send {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: send;
                }
                .pro_learnMore {
                    @include btnStyles();
                    grid-area: btn;
                }
            .master_option_block {
                @include options_blocks();
                grid-area: master;
            }
                .master_title {
                    text-align: center;
                    padding: 3%;
                    font-size: 1.4em;
                    grid-area: title;
                }
                .master_monthly_value {
                    text-align: center;
                    padding: 25%;
                    font-size: 1.8em;
                    grid-area: value;
                    display: none;
                }
                .master_annually_value {
                    text-align: center;
                    padding: 25%;
                    font-size: 1.8em;
                    grid-area: value;
                }
                .master_storage {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: storage;
                }
                .master_userAllowance {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: allowed;
                }
                .master_send {
                    text-align: center;
                    padding: 5%;
                    color: hsl(233, 13%, 49%);
                    grid-area: send;
                }
                .master_learnMore {
                    @include btnStyles();
                    grid-area: btn;
                }
        
        .attribution {
            grid-area: bottom;
        }
        .value {
            @include lineStyles();
            margin-top: 70%;  
            grid-area: value;
        }
        .storage {
            @include lineStyles();
            grid-area: storage;
        }
        .allowance {
            @include lineStyles();
            grid-area: allowed;
        }
        .send {
            @include lineStyles();
            grid-area: send;
        } 
    .attribution {
        grid-area: bottom;
    }
}