$bold: 800;
$thin: 600;
@media screen and (min-width: 481px) and (max-width: 1024px){
    *{
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-family: Manrope;
        color: hsl(225, 20%, 60%);
    }
    body{
        background-image: url("../../images/bg-pattern.svg");
        background-color: hsl(230, 100%, 99%);
        background-repeat: no-repeat;
        display: grid;
        grid-template-areas: 
            ". head ."
            ". main ."
            ". footer .";
        grid-template-columns: 212px 600px 212px;
        grid-template-rows: 200px 400px 200px;
    }
    .head_block{
        background-image: url("../../images/pattern-circles.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        grid-area: head;
        display: grid;
        grid-template-areas: 
            ". . ."
            ". center ."
            ". . .";
        grid-template-columns: 100px 400px 100px;
        grid-template-rows: 50px 100px 50px;
        grid-area: head;
        .title_head{
            font-size: 25px;
            font-weight: $bold;
            text-align: center;
            grid-area: center;
            color: black;
        }
        .subtitle_head{
            font-size: 20px;
            font-weight: $bold;
            text-align: center;
            margin: 30px 0 0 0;
            grid-area: center;
        }
    }
    .main_block{
        display: grid;
        grid-template-areas: 
            "pageViews pageViews . monthBlock monthBlock ."
            "slider slider slider slider slider slider"
            "choiceBlock choiceBlock choiceBlock choiceBlock choiceBlock choiceBlock"
            "bottom bottom bottom bottom bottom bottom";
        grid-template-columns: 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 50px 100px 50px 200px;
        grid-area: main;
        background-color: white;
        .pageViews{
                grid-area: pageViews;
                display: grid;
                grid-template-areas: 
                    "value title";
                grid-template-columns: 100px 100px;
                grid-template-rows: 100%;
                margin: 20px 0 0 0;
            .pageViews_title{
                font-size: 20px;
                padding: 10px 0 0 0;
                grid-area: title;
            }
            p{
                padding: 10px 0 0 50px;
                font-size: 20px;
                grid-area: value;
            }
        }
        .MonthValue_block{
            display: grid;
            grid-template-areas: 
                "value title";
            grid-template-columns: 140px 60px;
            grid-template-rows: 50px;
            grid-area: monthBlock;
            margin: 20px 0 0 0;
            .value_month{
                padding: 0 0 0 30px;
                font-size: 30px;
                grid-area: value;
                color: black;
            }
            .monthTitle{
                font-size: 16px;
                padding: 10px 0 0 0;
                grid-area: title;
            }
        }
        .slidecontainer{
            grid-area: slider;
        }
        .choice_block{
            display: grid;
            grid-template-areas: 
                ". monthly switch yearly discount";
            grid-template-columns: 100px 100px 70px 130px 100px 100px;
            grid-template-rows: 50px;
            grid-area: choiceBlock;
            .month_choice{
                padding: 10px 0 0 0;
                font-size: 14px;
                grid-area: monthly;
            }
            .switch{
                grid-area: switch;
            }
            .yearly_choice{
                padding: 10px 0 0 0;
                font-size: 14px;
                grid-area: yearly;
            }
            .discount_value {
                font-size: 14px;
                border-radius: 10px;
                background-color: hsl(14, 92%, 95%);
                border-color: hsl(14, 92%, 95%);
                width: 50%;
                height: 30%;
                margin: 10px 0 0 0;
                grid-area: discount;
                color: hsl(15, 100%, 70%);
            }
            .discount{
                font-size: 14px;
                border-radius: 10px;
                background-color: hsl(14, 92%, 95%);
                border-color: hsl(14, 92%, 95%);
                width: 60%;
                height: 30%;
                margin: 10px 0 0 40px;
                grid-area: discount;
                color: hsl(15, 100%, 70%);
            }
        }
        .list_block{
           display:grid;
            grid-area: bottom;
            grid-template-areas: 
                ". unlimited ."
                ". ownership btn"
                ". email .";
            grid-template-rows: 50px 40px 60px;
            grid-template-columns: 100px 300px 200px;
        .unlimited_item {
            color: hsl(225, 20%, 60%);
            margin: 0 0 0 5px;
            padding: 30px 0 0 0;
            grid-area: unlimited;
        }
        .ownership_item {
            color: hsl(225, 20%, 60%);
            padding: 10px 0 0 0;
            grid-area: ownership;
        }
        .email_item {
            color: hsl(225, 20%, 60%);
            padding: 0 0 0 20px;
            margin: 0 0 30px 0;
            grid-area: email;
        }
        .trial_btn {
            padding: 3px 0 0 0;
            grid-area: btn;
            width: 140px;
            height: 40px;
            border-radius: 30px;
            border-color: hsl(227, 35%, 25%);
            background-color: hsl(227, 35%, 25%);
            color: white;
        }
        }
    }

    .attribution{
        grid-area: footer;
    }
}