$bold: 800;
$thin: 600;
@media screen and (max-width: 800px) {
    * {
        padding: 0;
        margin: 0;
        font-size: 1em;
        font-family: Manrope;
    }
    body {
        background-image: url("../../images/bg-pattern.svg");
        background-color: hsl(230, 100%, 99%);
        background-repeat: no-repeat;
        display: grid;
        grid-template-areas: 
            ". head ."
            ". main ."
            ". footer .";
        grid-template-columns: 0.5fr 4fr 0.5fr;
        grid-template-rows: 2fr 4fr 2fr;
    }
    .head_block {
        background-image: url("../../images/pattern-circles.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        grid-area: head;
        display: grid;
        grid-template-areas: 
            ". . ."
            ". center ."
            ". . .";
        grid-template-columns: 0.5fr 4fr 0.5fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        .title_head {
            font-size: 2em;
            font-weight: $bold;
            text-align: center;
            margin: 15% 0 0 0;
            grid-area: center;
        }
        .subtitle_head {
            color: hsl(225, 20%, 60%);
            font-size: 1.5em;
            text-align: center;
            margin: 45% 0 0 0;
            grid-area: center;
        }
    }
    .main_block {
        background-color: white;
        display: grid;
        grid-area: main;
        grid-template-areas: 
            "pageV"
            "slider"
            "MValue"
            "choice"
            "bottom";
        grid-template-columns: 4fr;
        grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 2fr;
        .pageViews {
            color: hsl(225, 20%, 60%);
            text-align: center;
            margin: 15% 0 0 0;
            font-size: 1.4em;
            grid-area: pageV;
            display: grid;
            grid-template-areas: 
                ". Value pageView .";
            grid-template-columns: 2fr 0.5fr 0.5fr 2fr;
            grid-template-rows: 0.5fr;
            p{
                font-size: 1.4em;
                grid-area: Value;
            }
            .pageViews_title{
                font-size: 1.4em;
                margin: 0 0 0 10%;
                grid-area: pageView;
            }
        }
    }
    .MonthValue_block {
        display: grid;
        grid-template-areas: 
            ". value title .";
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
        grid-template-rows: 0.5fr;
        grid-area: MValue;
        .value_month {
            grid-area: value;
            font-size: 2em;
        }
        .monthTitle {
            color: hsl(225, 20%, 60%);
            grid-area: title;
            font-size: 1.4em;
            margin: 0 0 0 20%;
        }
    }
    .choice_block {
        width: 100%;
        height: 100%;
        grid-area: choice;
        display: grid;
        grid-template-areas: 
            "month switch yearly discount";
        grid-template-columns: 2fr 0.5fr 2fr 0.5fr; 
        grid-template-rows: 0.5fr;
        .month_choice { 
            padding: 5% 0 0 10%;
            font-size: 1.2em;
            grid-area: month;
            color: hsl(225, 20%, 60%);
        }
        .yearly_choice {
            color: hsl(225, 20%, 60%); 
            padding: 5% 0 0 10%;
            font-size: 1.2em;
            grid-area: yearly;
        }
        .discount_value {
            grid-area: discount;
            font-size: 1.2em;
            border-radius: 10vh;
            background-color: hsl(14, 92%, 95%);
            border-color: hsl(14, 92%, 95%);
            width: 100%;
            height: 40%;
            text-align: center;
            color: hsl(15, 100%, 70%);
            margin: 10% 0 0 0;
            padding: 5% 0 0 0;
        }
        .discount {
            display: none;
        }
    }
    .list_block {
        display:grid;
        grid-area: bottom;
        grid-template-areas: 
            ". unlimited ."
            ". ownership ."
            ". email ."
            ". btn .";
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        .unlimited_item {
            color: hsl(225, 20%, 60%);
            margin: 0 0 0 5%;
            padding: 5% 0 0 0;
            grid-area: unlimited;
        }
        .ownership_item {
            color: hsl(225, 20%, 60%);
            padding: 5% 0 0 0;
            grid-area: ownership;
        }
        .email_item {
            color: hsl(225, 20%, 60%);
            padding: 5% 0 0 0;
            margin: 0 0 0 15%;
            grid-area: email;
        }
        .trial_btn {
            margin: 5% 0 0 0;
            padding: 2% 0 0 0;
            grid-area: btn;
            width: 100%;
            height: 50%;
            border-radius: 5vh;
            border-color: hsl(227, 35%, 25%);
            background-color: hsl(227, 35%, 25%);
            color: white;
        }
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        color: hsl(228, 45%, 44%);
        grid-area: footer;
    }
}